$orange: #f46131ff;
$yellow: #e7e516ff;
$violet: #281883;
$lightviolet: #5c44e0;
$light: #d6ceff;
$lighter: #bcaefdfd;
$bg-gradient-yelloworange: linear-gradient(to bottom, $yellow 0%, #f46131ff 100%);
$bg-gradient-orangeyellow: linear-gradient(to top, #e7e516ff 0%, #f46131ff 100%);