$violet-darker: #0F0844;
$violet-dark: #5D5885;
$violet: #281883;
$violet-light: #7180FF;
$violet-lighter: #C0C7FF;
$red: #FF6258;
$yellow: #F9BA50;
$green: #2BD8A3;
$pink: #F30261;
$bg-gradient-yellowred: linear-gradient(to bottom, $yellow 0%, $red 100%);
$bg-gradient-redyellow: linear-gradient(to top, $yellow 0%, $red 100%);