@import 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  :focus {
    outline: none;
  }
  html,body,#app {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  html {
    @apply m-0 p-0 border-0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  html {
    min-height: 100vh;
    overflow-x: hidden;
    background: #fff;
  }
  .quad-article {
    @apply py-4 px-2 text-justify mx-auto;
    max-width: 600px;
    color: $violet-darker;
    h1 {
      @apply text-3xl mb-4;
    }
    h1, h2, h3, h4, h5 ,h6 {
      @apply font-bold;
    }
  }
  .sign-form {
    @apply flex flex-col items-center;
    color: $violet-darker;
  
    .container {
      @apply flex flex-col items-center my-5;
      width: 90%;
      max-width: 400px;
  
      .header {
        @apply text-4xl font-bold mb-2;
      }
      .subheader {
        @apply text-base font-thin mb-8;
      }
  
      .form-group {
        @apply flex flex-row justify-center items-center px-2 py-3 rounded-lg mb-5;
        background: white;
        width: 100%;
        box-shadow: 0px 5px 10px #ccc;
        i {
          @apply mx-4 my-0 py-0 text-base;
          color: $violet;
        }
        input {
          @apply p-0 font-bold;
          flex: 1;
          outline: none;
          background: inherit;
          color: $violet;
          &::placeholder {
            @apply text-gray-700;
          }
        }
        &:focus-within {
          background: #ccc;
          box-shadow: none;
        }
      }
  
      [type=submit], [type=button] {
        @apply py-3 px-8 mt-8 mb-4 rounded-lg font-bold transition-all duration-100 mr-0 ml-auto;
        background: $pink;
        color: white;
        box-shadow: 0 5px 15px #aaaaaa;
        width: fit-content;
      }

      [type=button] {
          @apply mx-auto;
      }
      .vendor-facebook {
        @apply mt-4 w-full
      }
      .vendor-google {
        @apply bg-white flex flex-row items-center justify-center px-4 py-2 rounded-sm mt-4 transition-all duration-100;
        width: 100%;
  
        &:active {
          box-shadow: 0px 0px 10px $red;
        }
  
        i, img {
          @apply mr-4;
          width: 1rem;
          height: 1 rem;
        }
        span {
          @apply font-bold text-gray-500;
          flex: 1;
          // color: $violet;
        }
      }
      p {
        @apply text-center text-sm transition-all duration-300;
        a {
          color: $violet-lighter;
          &:hover {
            color: $yellow;
          }
        }
      }
      hr {
        @apply w-full mt-2 mb-4;
        border-color: $violet-dark;
      }
    }
  }
}
